<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aitravelba.orm.yihui.DebtorMapper" >
  <resultMap id="BaseResultMap" type="com.aitravelba.pojo.yihui.Debtor" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="card_type" property="cardType" jdbcType="TINYINT" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="marital_status" property="maritalStatus" jdbcType="TINYINT" />
    <result column="children_status" property="childrenStatus" jdbcType="TINYINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="mobile_status" property="mobileStatus" jdbcType="TINYINT" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="web_chat" property="webChat" jdbcType="VARCHAR" />
    <result column="residence_province" property="residenceProvince" jdbcType="VARCHAR" />
    <result column="residence_city" property="residenceCity" jdbcType="VARCHAR" />
    <result column="residence_area" property="residenceArea" jdbcType="VARCHAR" />
    <result column="residence_address" property="residenceAddress" jdbcType="VARCHAR" />
    <result column="residence_longitude" property="residenceLongitude" jdbcType="REAL" />
    <result column="residence_latitude" property="residenceLatitude" jdbcType="REAL" />
    <result column="residence_status" property="residenceStatus" jdbcType="TINYINT" />
    <result column="company_province" property="companyProvince" jdbcType="VARCHAR" />
    <result column="company_city" property="companyCity" jdbcType="VARCHAR" />
    <result column="company_area" property="companyArea" jdbcType="VARCHAR" />
    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
    <result column="company_longitude" property="companyLongitude" jdbcType="REAL" />
    <result column="company_latitude" property="companyLatitude" jdbcType="REAL" />
    <result column="company_address_status" property="companyAddressStatus" jdbcType="TINYINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="present_province" property="presentProvince" jdbcType="VARCHAR" />
    <result column="present_city" property="presentCity" jdbcType="VARCHAR" />
    <result column="present_area" property="presentArea" jdbcType="VARCHAR" />
    <result column="present_longitude" property="presentLongitude" jdbcType="REAL" />
    <result column="present_latitude" property="presentLatitude" jdbcType="REAL" />
    <result column="present_address" property="presentAddress" jdbcType="VARCHAR" />
    <result column="present_address_status" property="presentAddressStatus" jdbcType="TINYINT" />
    <result column="identity_img" property="identityImg" jdbcType="VARCHAR" />
    <result column="debtor_img" property="debtorImg" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="abandon_reason" property="abandonReason" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>


  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, card_type, card_no, real_name, sex, marital_status, children_status, mobile, 
    mobile_status, email, QQ, web_chat, residence_province, residence_city, residence_area, 
    residence_address, residence_longitude, residence_latitude, residence_status, company_province, 
    company_city, company_area, company_address, company_longitude, company_latitude, 
    company_address_status, company_name, present_province, present_city, present_area, 
    present_longitude, present_latitude, present_address, present_address_status, identity_img, 
    debtor_img, status, abandon_reason, update_time, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.aitravelba.pojo.yihui.DebtorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_debtor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_debtor
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_debtor
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.aitravelba.pojo.yihui.DebtorExample" >
    delete from t_debtor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aitravelba.pojo.yihui.Debtor" useGeneratedKeys="true" keyProperty="id" >
    insert into t_debtor (card_type, card_no, real_name, 
      sex, marital_status, children_status, 
      mobile, mobile_status, email, 
      QQ, web_chat, residence_province, 
      residence_city, residence_area, residence_address, 
      residence_longitude, residence_latitude, residence_status, 
      company_province, company_city, company_area, 
      company_address, company_longitude, company_latitude, 
      company_address_status, company_name, present_province, 
      present_city, present_area, present_longitude, 
      present_latitude, present_address, present_address_status, 
      identity_img, debtor_img, status, 
      abandon_reason, update_time, create_time
      )
    values (#{cardType,jdbcType=TINYINT}, #{cardNo,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{sex,jdbcType=TINYINT}, #{maritalStatus,jdbcType=TINYINT}, #{childrenStatus,jdbcType=TINYINT}, 
      #{mobile,jdbcType=VARCHAR}, #{mobileStatus,jdbcType=TINYINT}, #{email,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{webChat,jdbcType=VARCHAR}, #{residenceProvince,jdbcType=VARCHAR}, 
      #{residenceCity,jdbcType=VARCHAR}, #{residenceArea,jdbcType=VARCHAR}, #{residenceAddress,jdbcType=VARCHAR}, 
      #{residenceLongitude,jdbcType=REAL}, #{residenceLatitude,jdbcType=REAL}, #{residenceStatus,jdbcType=TINYINT}, 
      #{companyProvince,jdbcType=VARCHAR}, #{companyCity,jdbcType=VARCHAR}, #{companyArea,jdbcType=VARCHAR}, 
      #{companyAddress,jdbcType=VARCHAR}, #{companyLongitude,jdbcType=REAL}, #{companyLatitude,jdbcType=REAL}, 
      #{companyAddressStatus,jdbcType=TINYINT}, #{companyName,jdbcType=VARCHAR}, #{presentProvince,jdbcType=VARCHAR}, 
      #{presentCity,jdbcType=VARCHAR}, #{presentArea,jdbcType=VARCHAR}, #{presentLongitude,jdbcType=REAL}, 
      #{presentLatitude,jdbcType=REAL}, #{presentAddress,jdbcType=VARCHAR}, #{presentAddressStatus,jdbcType=TINYINT}, 
      #{identityImg,jdbcType=VARCHAR}, #{debtorImg,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{abandonReason,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aitravelba.pojo.yihui.Debtor" useGeneratedKeys="true" keyProperty="id" >
    insert into t_debtor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="maritalStatus != null" >
        marital_status,
      </if>
      <if test="childrenStatus != null" >
        children_status,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="mobileStatus != null" >
        mobile_status,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
      <if test="webChat != null" >
        web_chat,
      </if>
      <if test="residenceProvince != null" >
        residence_province,
      </if>
      <if test="residenceCity != null" >
        residence_city,
      </if>
      <if test="residenceArea != null" >
        residence_area,
      </if>
      <if test="residenceAddress != null" >
        residence_address,
      </if>
      <if test="residenceLongitude != null" >
        residence_longitude,
      </if>
      <if test="residenceLatitude != null" >
        residence_latitude,
      </if>
      <if test="residenceStatus != null" >
        residence_status,
      </if>
      <if test="companyProvince != null" >
        company_province,
      </if>
      <if test="companyCity != null" >
        company_city,
      </if>
      <if test="companyArea != null" >
        company_area,
      </if>
      <if test="companyAddress != null" >
        company_address,
      </if>
      <if test="companyLongitude != null" >
        company_longitude,
      </if>
      <if test="companyLatitude != null" >
        company_latitude,
      </if>
      <if test="companyAddressStatus != null" >
        company_address_status,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="presentProvince != null" >
        present_province,
      </if>
      <if test="presentCity != null" >
        present_city,
      </if>
      <if test="presentArea != null" >
        present_area,
      </if>
      <if test="presentLongitude != null" >
        present_longitude,
      </if>
      <if test="presentLatitude != null" >
        present_latitude,
      </if>
      <if test="presentAddress != null" >
        present_address,
      </if>
      <if test="presentAddressStatus != null" >
        present_address_status,
      </if>
      <if test="identityImg != null" >
        identity_img,
      </if>
      <if test="debtorImg != null" >
        debtor_img,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="abandonReason != null" >
        abandon_reason,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cardType != null" >
        #{cardType,jdbcType=TINYINT},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="maritalStatus != null" >
        #{maritalStatus,jdbcType=TINYINT},
      </if>
      <if test="childrenStatus != null" >
        #{childrenStatus,jdbcType=TINYINT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mobileStatus != null" >
        #{mobileStatus,jdbcType=TINYINT},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="webChat != null" >
        #{webChat,jdbcType=VARCHAR},
      </if>
      <if test="residenceProvince != null" >
        #{residenceProvince,jdbcType=VARCHAR},
      </if>
      <if test="residenceCity != null" >
        #{residenceCity,jdbcType=VARCHAR},
      </if>
      <if test="residenceArea != null" >
        #{residenceArea,jdbcType=VARCHAR},
      </if>
      <if test="residenceAddress != null" >
        #{residenceAddress,jdbcType=VARCHAR},
      </if>
      <if test="residenceLongitude != null" >
        #{residenceLongitude,jdbcType=REAL},
      </if>
      <if test="residenceLatitude != null" >
        #{residenceLatitude,jdbcType=REAL},
      </if>
      <if test="residenceStatus != null" >
        #{residenceStatus,jdbcType=TINYINT},
      </if>
      <if test="companyProvince != null" >
        #{companyProvince,jdbcType=VARCHAR},
      </if>
      <if test="companyCity != null" >
        #{companyCity,jdbcType=VARCHAR},
      </if>
      <if test="companyArea != null" >
        #{companyArea,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyLongitude != null" >
        #{companyLongitude,jdbcType=REAL},
      </if>
      <if test="companyLatitude != null" >
        #{companyLatitude,jdbcType=REAL},
      </if>
      <if test="companyAddressStatus != null" >
        #{companyAddressStatus,jdbcType=TINYINT},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="presentProvince != null" >
        #{presentProvince,jdbcType=VARCHAR},
      </if>
      <if test="presentCity != null" >
        #{presentCity,jdbcType=VARCHAR},
      </if>
      <if test="presentArea != null" >
        #{presentArea,jdbcType=VARCHAR},
      </if>
      <if test="presentLongitude != null" >
        #{presentLongitude,jdbcType=REAL},
      </if>
      <if test="presentLatitude != null" >
        #{presentLatitude,jdbcType=REAL},
      </if>
      <if test="presentAddress != null" >
        #{presentAddress,jdbcType=VARCHAR},
      </if>
      <if test="presentAddressStatus != null" >
        #{presentAddressStatus,jdbcType=TINYINT},
      </if>
      <if test="identityImg != null" >
        #{identityImg,jdbcType=VARCHAR},
      </if>
      <if test="debtorImg != null" >
        #{debtorImg,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="abandonReason != null" >
        #{abandonReason,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aitravelba.pojo.yihui.DebtorExample" resultType="java.lang.Integer" >
    select count(*) from t_debtor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_debtor
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cardType != null" >
        card_type = #{record.cardType,jdbcType=TINYINT},
      </if>
      <if test="record.cardNo != null" >
        card_no = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null" >
        real_name = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=TINYINT},
      </if>
      <if test="record.maritalStatus != null" >
        marital_status = #{record.maritalStatus,jdbcType=TINYINT},
      </if>
      <if test="record.childrenStatus != null" >
        children_status = #{record.childrenStatus,jdbcType=TINYINT},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.mobileStatus != null" >
        mobile_status = #{record.mobileStatus,jdbcType=TINYINT},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null" >
        QQ = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.webChat != null" >
        web_chat = #{record.webChat,jdbcType=VARCHAR},
      </if>
      <if test="record.residenceProvince != null" >
        residence_province = #{record.residenceProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.residenceCity != null" >
        residence_city = #{record.residenceCity,jdbcType=VARCHAR},
      </if>
      <if test="record.residenceArea != null" >
        residence_area = #{record.residenceArea,jdbcType=VARCHAR},
      </if>
      <if test="record.residenceAddress != null" >
        residence_address = #{record.residenceAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.residenceLongitude != null" >
        residence_longitude = #{record.residenceLongitude,jdbcType=REAL},
      </if>
      <if test="record.residenceLatitude != null" >
        residence_latitude = #{record.residenceLatitude,jdbcType=REAL},
      </if>
      <if test="record.residenceStatus != null" >
        residence_status = #{record.residenceStatus,jdbcType=TINYINT},
      </if>
      <if test="record.companyProvince != null" >
        company_province = #{record.companyProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.companyCity != null" >
        company_city = #{record.companyCity,jdbcType=VARCHAR},
      </if>
      <if test="record.companyArea != null" >
        company_area = #{record.companyArea,jdbcType=VARCHAR},
      </if>
      <if test="record.companyAddress != null" >
        company_address = #{record.companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.companyLongitude != null" >
        company_longitude = #{record.companyLongitude,jdbcType=REAL},
      </if>
      <if test="record.companyLatitude != null" >
        company_latitude = #{record.companyLatitude,jdbcType=REAL},
      </if>
      <if test="record.companyAddressStatus != null" >
        company_address_status = #{record.companyAddressStatus,jdbcType=TINYINT},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.presentProvince != null" >
        present_province = #{record.presentProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.presentCity != null" >
        present_city = #{record.presentCity,jdbcType=VARCHAR},
      </if>
      <if test="record.presentArea != null" >
        present_area = #{record.presentArea,jdbcType=VARCHAR},
      </if>
      <if test="record.presentLongitude != null" >
        present_longitude = #{record.presentLongitude,jdbcType=REAL},
      </if>
      <if test="record.presentLatitude != null" >
        present_latitude = #{record.presentLatitude,jdbcType=REAL},
      </if>
      <if test="record.presentAddress != null" >
        present_address = #{record.presentAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.presentAddressStatus != null" >
        present_address_status = #{record.presentAddressStatus,jdbcType=TINYINT},
      </if>
      <if test="record.identityImg != null" >
        identity_img = #{record.identityImg,jdbcType=VARCHAR},
      </if>
      <if test="record.debtorImg != null" >
        debtor_img = #{record.debtorImg,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.abandonReason != null" >
        abandon_reason = #{record.abandonReason,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_debtor
    set id = #{record.id,jdbcType=BIGINT},
      card_type = #{record.cardType,jdbcType=TINYINT},
      card_no = #{record.cardNo,jdbcType=VARCHAR},
      real_name = #{record.realName,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=TINYINT},
      marital_status = #{record.maritalStatus,jdbcType=TINYINT},
      children_status = #{record.childrenStatus,jdbcType=TINYINT},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      mobile_status = #{record.mobileStatus,jdbcType=TINYINT},
      email = #{record.email,jdbcType=VARCHAR},
      QQ = #{record.qq,jdbcType=VARCHAR},
      web_chat = #{record.webChat,jdbcType=VARCHAR},
      residence_province = #{record.residenceProvince,jdbcType=VARCHAR},
      residence_city = #{record.residenceCity,jdbcType=VARCHAR},
      residence_area = #{record.residenceArea,jdbcType=VARCHAR},
      residence_address = #{record.residenceAddress,jdbcType=VARCHAR},
      residence_longitude = #{record.residenceLongitude,jdbcType=REAL},
      residence_latitude = #{record.residenceLatitude,jdbcType=REAL},
      residence_status = #{record.residenceStatus,jdbcType=TINYINT},
      company_province = #{record.companyProvince,jdbcType=VARCHAR},
      company_city = #{record.companyCity,jdbcType=VARCHAR},
      company_area = #{record.companyArea,jdbcType=VARCHAR},
      company_address = #{record.companyAddress,jdbcType=VARCHAR},
      company_longitude = #{record.companyLongitude,jdbcType=REAL},
      company_latitude = #{record.companyLatitude,jdbcType=REAL},
      company_address_status = #{record.companyAddressStatus,jdbcType=TINYINT},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      present_province = #{record.presentProvince,jdbcType=VARCHAR},
      present_city = #{record.presentCity,jdbcType=VARCHAR},
      present_area = #{record.presentArea,jdbcType=VARCHAR},
      present_longitude = #{record.presentLongitude,jdbcType=REAL},
      present_latitude = #{record.presentLatitude,jdbcType=REAL},
      present_address = #{record.presentAddress,jdbcType=VARCHAR},
      present_address_status = #{record.presentAddressStatus,jdbcType=TINYINT},
      identity_img = #{record.identityImg,jdbcType=VARCHAR},
      debtor_img = #{record.debtorImg,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      abandon_reason = #{record.abandonReason,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aitravelba.pojo.yihui.Debtor" >
    update t_debtor
    <set >
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=TINYINT},
      </if>
      <if test="cardNo != null" >
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="maritalStatus != null" >
        marital_status = #{maritalStatus,jdbcType=TINYINT},
      </if>
      <if test="childrenStatus != null" >
        children_status = #{childrenStatus,jdbcType=TINYINT},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mobileStatus != null" >
        mobile_status = #{mobileStatus,jdbcType=TINYINT},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="webChat != null" >
        web_chat = #{webChat,jdbcType=VARCHAR},
      </if>
      <if test="residenceProvince != null" >
        residence_province = #{residenceProvince,jdbcType=VARCHAR},
      </if>
      <if test="residenceCity != null" >
        residence_city = #{residenceCity,jdbcType=VARCHAR},
      </if>
      <if test="residenceArea != null" >
        residence_area = #{residenceArea,jdbcType=VARCHAR},
      </if>
      <if test="residenceAddress != null" >
        residence_address = #{residenceAddress,jdbcType=VARCHAR},
      </if>
      <if test="residenceLongitude != null" >
        residence_longitude = #{residenceLongitude,jdbcType=REAL},
      </if>
      <if test="residenceLatitude != null" >
        residence_latitude = #{residenceLatitude,jdbcType=REAL},
      </if>
      <if test="residenceStatus != null" >
        residence_status = #{residenceStatus,jdbcType=TINYINT},
      </if>
      <if test="companyProvince != null" >
        company_province = #{companyProvince,jdbcType=VARCHAR},
      </if>
      <if test="companyCity != null" >
        company_city = #{companyCity,jdbcType=VARCHAR},
      </if>
      <if test="companyArea != null" >
        company_area = #{companyArea,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyLongitude != null" >
        company_longitude = #{companyLongitude,jdbcType=REAL},
      </if>
      <if test="companyLatitude != null" >
        company_latitude = #{companyLatitude,jdbcType=REAL},
      </if>
      <if test="companyAddressStatus != null" >
        company_address_status = #{companyAddressStatus,jdbcType=TINYINT},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="presentProvince != null" >
        present_province = #{presentProvince,jdbcType=VARCHAR},
      </if>
      <if test="presentCity != null" >
        present_city = #{presentCity,jdbcType=VARCHAR},
      </if>
      <if test="presentArea != null" >
        present_area = #{presentArea,jdbcType=VARCHAR},
      </if>
      <if test="presentLongitude != null" >
        present_longitude = #{presentLongitude,jdbcType=REAL},
      </if>
      <if test="presentLatitude != null" >
        present_latitude = #{presentLatitude,jdbcType=REAL},
      </if>
      <if test="presentAddress != null" >
        present_address = #{presentAddress,jdbcType=VARCHAR},
      </if>
      <if test="presentAddressStatus != null" >
        present_address_status = #{presentAddressStatus,jdbcType=TINYINT},
      </if>
      <if test="identityImg != null" >
        identity_img = #{identityImg,jdbcType=VARCHAR},
      </if>
      <if test="debtorImg != null" >
        debtor_img = #{debtorImg,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="abandonReason != null" >
        abandon_reason = #{abandonReason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      update_time = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aitravelba.pojo.yihui.Debtor" >
    update t_debtor
    set card_type = #{cardType,jdbcType=TINYINT},
      card_no = #{cardNo,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      marital_status = #{maritalStatus,jdbcType=TINYINT},
      children_status = #{childrenStatus,jdbcType=TINYINT},
      mobile = #{mobile,jdbcType=VARCHAR},
      mobile_status = #{mobileStatus,jdbcType=TINYINT},
      email = #{email,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      web_chat = #{webChat,jdbcType=VARCHAR},
      residence_province = #{residenceProvince,jdbcType=VARCHAR},
      residence_city = #{residenceCity,jdbcType=VARCHAR},
      residence_area = #{residenceArea,jdbcType=VARCHAR},
      residence_address = #{residenceAddress,jdbcType=VARCHAR},
      residence_longitude = #{residenceLongitude,jdbcType=REAL},
      residence_latitude = #{residenceLatitude,jdbcType=REAL},
      residence_status = #{residenceStatus,jdbcType=TINYINT},
      company_province = #{companyProvince,jdbcType=VARCHAR},
      company_city = #{companyCity,jdbcType=VARCHAR},
      company_area = #{companyArea,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      company_longitude = #{companyLongitude,jdbcType=REAL},
      company_latitude = #{companyLatitude,jdbcType=REAL},
      company_address_status = #{companyAddressStatus,jdbcType=TINYINT},
      company_name = #{companyName,jdbcType=VARCHAR},
      present_province = #{presentProvince,jdbcType=VARCHAR},
      present_city = #{presentCity,jdbcType=VARCHAR},
      present_area = #{presentArea,jdbcType=VARCHAR},
      present_longitude = #{presentLongitude,jdbcType=REAL},
      present_latitude = #{presentLatitude,jdbcType=REAL},
      present_address = #{presentAddress,jdbcType=VARCHAR},
      present_address_status = #{presentAddressStatus,jdbcType=TINYINT},
      identity_img = #{identityImg,jdbcType=VARCHAR},
      debtor_img = #{debtorImg,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      abandon_reason = #{abandonReason,jdbcType=VARCHAR},
      update_time = now(),
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
</mapper>
