<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aitravelba.orm.wechat.SmPayInfoMapper">
  <resultMap id="BaseResultMap" type="com.aitravelba.pojo.wechat.SmPayInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="open_id" jdbcType="BIGINT" property="openId" />
    <result column="alipay_no" jdbcType="VARCHAR" property="alipayNo" />
    <result column="alipay_name" jdbcType="VARCHAR" property="alipayName" />
    <result column="alipay_url" jdbcType="VARCHAR" property="alipayUrl" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <select id="queryPayInfo" resultMap="BaseResultMap">
     SELECT t1.* FROM sm_pay_info t1 
     where t1.`status` = 1 
     AND t1.open_id = #{openId}
  </select>
  <insert id="saveOrUpdatePayInfo" parameterType="com.aitravelba.pojo.wechat.SmPayInfo">
     insert into sm_pay_info(open_id,alipay_no,alipay_name, alipay_url)
     values
     (#{openId},#{alipayNo}, #{alipayName}, #{alipayUrl})
      on duplicate key update
          update_time = now()
          <if test="alipayName != null">
            ,alipay_name = #{alipayName}
          </if>
          <if test="alipayUrl != null">
              ,alipay_url = #{alipayUrl}
          </if>
          <if test="alipayUrl != null">
              ,alipay_no = #{alipayNo}
          </if>
          
  </insert>
</mapper>