<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aitravelba.orm.wechat.SmVoucherMapper">
	<resultMap id="BaseResultMap" type="com.aitravelba.pojo.wechat.SmVoucher">
		<!-- WARNING - @mbg.generated -->
		<result column="id" jdbcType="BIGINT" property="id" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
		<result column="cat_id" jdbcType="BIGINT" property="catId" />
		<result column="order" jdbcType="INTEGER" property="order" />
		<result column="limit" jdbcType="INTEGER" property="limit" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<resultMap id="ExResultMap" type="com.aitravelba.pojo.wechat.SmVoucherEx">
		<!-- WARNING - @mbg.generated -->
		<result column="id" jdbcType="BIGINT" property="id" />
		<result column="catId" jdbcType="BIGINT" property="catId" />
		<result column="catTitle" jdbcType="VARCHAR" property="catTitle" />
		<result column="voucherTitle" jdbcType="VARCHAR" property="voucherTitle" />
		<result column="picUrl" jdbcType="VARCHAR" property="picUrl" />
		<result column="price" jdbcType="DOUBLE" property="price" />
	</resultMap>
	<sql id="Base_Column_List">
		id, title, description, pic_url, link_url, cat_id, `order`,
		`limit`, `status`,
		remark,
		create_time, update_time
	</sql>
	<select id="voucherList" resultMap="ExResultMap">
		select
		t1.id catId,
		t1.title catTitle,
		t2.id id,
		t2.title voucherTitle,
		t2.pic_url picUrl,
		t3.price price
		FROM sm_cat t1
		JOIN sm_voucher t2 on
		t1.id = t2.cat_id
		JOIN sm_today_price t3 on t2.id = t3.voucher_id
		WHERE
		t2.`status` = 1 AND t1.`status` = 1 AND t3.`status` = 1
		order by t1.id
		<if test="start != null and size != null">
			limit #{start}, #{size}
		</if>
	</select>
	<select id="countVoucherList" resultType="java.lang.Integer">
		select
		count(1)
		FROM
		sm_cat t1
		JOIN sm_voucher t2 on t1.id = t2.cat_id
		JOIN
		sm_today_price t3
		on t2.id = t3.voucher_id
		WHERE t2.`status` = 1 AND
		t1.`status` = 1 AND
		t3.`status` = 1
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sm_voucher
		where `status` = 1 AND id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectVoucherListByIds" parameterType="java.util.List" resultMap="BaseResultMap">
	    select
		<include refid="Base_Column_List" />
		from sm_voucher
		where `status` = 1 and 1 = 1
		<if test="list != null and list.size > 0">
		  AND id in
		    <foreach collection="list" separator="," open="(" close=")" item="id">
		        #{id}
		    </foreach>
		</if>
	</select>
</mapper>